<!-- header start -->
<app-header-one [transparent]="true"></app-header-one>
<!-- header end -->

<main>

  <!-- breadcrumb start -->
  <app-breadcrumb-one title="à propos de Nyglo" subtitle="Nyglo"
    bg="/assets/img/page-title/page-title-2.jpg"></app-breadcrumb-one>
  <!-- breadcrumb end -->

  <!-- contact area start -->
  <section class="contact__area pb-100 pt-95">
   <div class="container">
    <div class="row">
      <div class="col-md-6">

      </div>
      <div class="col-md-6">
        
      </div>
    </div>
   </div>
  </section>
  <!-- contact area end -->
 

  <!-- subscribe area start -->
  <app-subscribe-area></app-subscribe-area>
  <!-- subscribe area end -->

</main>

<!-- footer start -->
<app-footer-one></app-footer-one>
<!-- footer end -->
